{{#each items}}
	<div class="wp100 plr15 ba mb10 p-r hig120 bb cart-wrap">
	    <div class="cart-radio inline_block"></div>
	    <a href="../demand/detail.html" class="inline_block order-img ptb19"><img src="../images/背。景@2x.png" ></a>
	    <div class="inline_block  p-a order-box hp100  ptb18 pr15">
	        <div class="fs15 order-tit">金华聚牛网络科技有限公司金华聚牛网络科技有限公司</div>
	        <div class="fs13 pt8 co9">金华聚牛网络科技有限公司</div>
	        <div class="fs15 order-price">￥230</div>
	    </div>
	    <div class="cart-remove inline_block"><img src="../images/删除@2x.png"/></div>
	    <div class="cart-btnWrap">
	        <div class="cart-btn cart-sub"></div>
	        <input type="number" pattern="[0-9]*" name="cart-num" class="cart-num" value="1">
	        <div class="cart-btn cart-add"></div>
	    </div>
	</div>
<!--<li class="clearfix b-b-e9 p_r cart-li" code="{{code}}" cnyP="{{price1}}">
	<div class="wp100 p_r z_index0">
		<div class="clearfix bg_fff cart-content-left">
			<div class="w140p tc  p_r c-img-l">
			    <div class="cart-li-left-chose-wrap cart-cont-left">
			    	<div class="inline_block cart-check-btn radio-tip1"></div>
			    </div>
			    <div class="cart-li-left-img-wrap">
			    	<img class="center-img" src="{{formatImage advPic}}"/>
			    </div>
			</div>
            <div class="cart-li-right-wrap">
                <div class="hp100 flex flex-jb flex-dv">
            		<p class="c-59 fs14">{{productName}}</p>
            		<p class="y-small"><span>{{formatZeroMoney price1}}积分</span></p>
            		<div class="t_666 cart-li-bottom">
                    	<span class="subCount a_s_span t_bold tc">
                    		
                    	</span>
                    	<input type="hidden" value="{{quantity}}"/>
                    	<input class="buyCount tc" type="text" value="{{quantity}}"/>
                    	<span class="addCount a_s_span t_bold tc">
                    		
                    	</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="al_addr_del">删除</div>
    </div>
</li>-->
{{/each}}
